:root {
  --hover-color: rgb(33, 150, 243);
  --background-color: rgb(47, 48, 58, 1);
  --backgroundbutton-color: rgb(245, 244, 250);
  --textcolor-color: rgb(33, 33, 33);
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.main {
  background-color: var(--background-color);
}
body {
  color: var(--textcolor-color);
  font-family: 'Roboto', sans-serif;
}
footer {
  background-color: var(--background-color);
}
ul {
  list-style: none;
}
.mainTitle {
  color: rgb(255, 255, 255, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  font-weight: 900;
}
.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.detail {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.contenido {
  color: rgb(117, 117, 117);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.iconName {
  color: rgb(33, 150, 243);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: right;
  text-decoration: none;
}
.footerIconFull {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: right;
  text-decoration: none;
}
.headerIconFull {
  color: rgb(33, 33, 33);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: right;
  text-decoration: none;
}
.headerContact {
  color: rgb(117, 117, 117);
}
.link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.navLink {
  color: rgb(33, 33, 33);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.navLink:focus,
.navLink:hover {
  color: rgb(33, 150, 243);
}
.contactLink {
  color: rgba(255, 255, 255, 0.6);
}
.link:hover,
.link:focus {
  color: var(--hover-color);
}
.mainButton {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  border-style: hidden;
  width: 261px;
  height: 50px;
  border-radius: 4px;
}
.mainButton:hover,
.mainButton:focus {
  cursor: pointer;
}
.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background-color: var(--backgroundbutton-color);
  border-style: hidden;
  border-radius: 4px;
  width: 128px;
  height: 38px;
}
.button:hover,
.button:focus,
.button:active {
  color: rgb(255, 255, 255);
  background-color: var(--hover-color);
  cursor: pointer;
}
.ubication {
  color: rgb(255, 255, 255);
}
.team {
  background-color: rgb(245, 244, 250);
}
.teamMember {
  background-color: rgb(255, 255, 255, 1);
}
.teamName {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.teamJob {
  color: rgb(117, 117, 117);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
}
.findUs {
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.socialMedia {
  color: rgb(255, 255, 255);
}
