:root {
  --selected-color: rgb(33, 150, 243);
  --background-color: rgb(47, 48, 58, 1);
  --backgroundbutton-color: rgb(245, 244, 250);
  --textcolor-color: rgb(33, 33, 33);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.main {
  background-color: var(--background-color);
}
body {
  color: var(--textcolor-color);
  font-family: 'Roboto', sans-serif;
}
.footer {
  background-color: var(--background-color);
}
.list {
  list-style: none;
}
.mainTitle {
  color: rgb(255, 255, 255, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.06em;
}
.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.detail {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.03em;
}
.content {
  color: rgb(117, 117, 117);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.iconName {
  color: var(--selected-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: right;
  text-decoration: none;
}
.footerIconFull {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: right;
  text-decoration: none;
}
.headerIconFull {
  color: rgb(33, 33, 33);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: right;
  text-decoration: none;
}
.link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0.02em;
}
.navLink {
  color: var(--textcolor-color);
}
.navLink:active .navLink:focus,
.navLink:hover {
  color: var(--selected-color);
}
.headerContact {
  color: rgb(117, 117, 117);
}
.contactLink {
  color: rgba(255, 255, 255, 0.6);
}
.link:hover,
.link:focus {
  color: var(--selected-color);
}
.mainButton {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
}
.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--backgroundbutton-color);
  border-style: hidden;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
}
.button:hover,
.button:focus,
.button:active {
  color: rgb(255, 255, 255);
  background-color: var(--selected-color);
}
.ubication {
  color: rgb(255, 255, 255);
}
.team {
  background-color: rgb(245, 244, 250);
}
.teamMember {
  background-color: rgb(255, 255, 255, 1);
}
.teamName {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.teamJob {
  color: rgb(117, 117, 117);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.findUs {
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 0.03em;
}
.socialMedia {
  color: rgb(255, 255, 255);
}
